{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="glass-card col-md-8">
        <!--Landing Page-->
        <h2 class="text-center mb-4">Join AWS Cloud Club LPU</h2>
        <p class="text-center">We are a group of students who are passionate about AWS and ready to learn and share our knowledge with others.</p>
        <hr class="my-4">

        <!--Hiring now -->
        <h2 class="text-center">Recruiting now!</h2>
        <p class="text-center">We are looking for passionate students who are interested in AWS. If you are interested, please <a href="/apply" style="color: #000;">apply here</a>.</p>
        <hr class="my-4">

        <!--Login if already registered -->
        <h2 class="text-center">Already registered?</h2>
        <p class="text-center">If you have already applied, please <a href="{{url_for('login')}}" style="color: #000;">login here</a>.</p>
        <hr class="my-4">

        <!-- About Us Section -->
        <h2 class="text-center">About Us</h2>
        <p class="text-center">AWS Cloud Club LPU is a community of students who are enthusiastic about cloud computing and AWS technologies. We organize workshops, hackathons, and study groups to help members gain hands-on experience and knowledge.</p>
        <hr class="my-4">
    </div>
</div>
<br>

{% endblock %}